footer{
	margin-top:30px;
	background:#222222;
	color:#fff;
	padding-bottom: 30px;
	h1,h2{
		font-family: 'League Gothic';
	}
	a{
		color:#fff;
		&:hover, &:focus{
			color:#fff;
			text-decoration: underline;
		}
	}
}
.footer-sv-logo{
	margin: 30px auto;
	width: 200px;
}