$font-stack:    Helvetica, sans-serif;
$primary-color: red;
$fa-font-path: 'app/styles/fonts/';

@font-face {
  font-family: myFirstFont2;
  src: url($fa-font-path + 'fontawesome-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

div.test {
  font-family: myFirstFont2;
}